@using Assignment.Models.DomainClass;
@model IEnumerable<Assignment.Models.DomainClass.ProductImg>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>

@{
    var students = ViewData["ListProduct"] as List<Product>;
}
 <div>@students[0].Name</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
